---
layout: page
categories: [header-link]
title: Contact
permalink: /contact
---
<section class="description-box bg-light text-center">
  <div class="container">
    <h2 class="mb-5">Contact</h2>
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <p class="lead mb-3">Mizuno Technology, Inc. (MTI) is a Hokkaido, Japan based start-up company established to commercialize a new, clean energy technology invented, and developed by Tadahiko Mizuno, PhD. The company is based out of Sapporo, Japan.</p>
        <p class="mb-2">Due to the potential impact of our product to the global energy markets, we are unable to share our exact address in the open internet for the moment.</p>
        <p class="mb-2">We are currently seeking investors to financially and logistically help us to engineer a safe and mass-market ready reactor version.</p>
        <p class="mb-3">If you have any questions and are further interested in our product and development, we welcome you to contact us via email!</p>
        <div class="d-flex justify-content-center mb-3">
          <a class="btn btn-success" href="mailto:daniel@mizunotech.com">Email Us!</a>
        </div>
        <p class="mb-3">We are also available at LENR Forum:</p>
        <div class="d-flex justify-content-center mb-3">
          <a class="btn btn-danger mr-3" href="https://www.lenr-forum.com/user/3514-mizunotadahiko/">Tadahiko Mizuno</a>
        </div>
      </div>
    </div>
  </div>
</section>
