---
layout: default
---
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Mizuno Technology Inc.</h1>
      </div>
    </div>
  </div>
</header>

<section class="features-icons bg-light text-center">
  <div class="container">
    <h2>Cold Fusion New Hydrogen Energy</h2>
    <div class="row">
      <div class="col-lg-6">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
          <h3>English Introduction</h3>
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/G0r-koM9TvQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
          <h3>Japanese Introduction</h3>
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/stYQp6MMXP4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
</section>

<section class="features-icons bg-light text-center">
  <div class="container">
    <h2>Developing a Novel and Emission-free Continuous Energy Source</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-energy m-auto text-primary"></i>
          </div>
          <h3>Excess Heat</h3>
          <p class="lead mb-0">We currently lead the field in excess heat production. We now have safe, controllable, nearly unlimited heat production. </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-layers m-auto text-primary"></i>
          </div>
          <h3>Replicated</h3>
          <p class="lead mb-0">The physics and excess heat production results have been replicated by independent laboratories!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-check m-auto text-primary"></i>
          </div>
          <h3>Easy to Use</h3>
          <p class="lead mb-0">The mass-produced reactor version is as easy to use as your well-known conventional heating system!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="description-box bg-light text-center">
  <div class="container">
    <h2 class="mb-5">What we do</h2>
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <p class="lead mb-5">Mizuno Technology, Inc. (MTI) is a Hokkaido, Japan based start-up company established to commercialize a new, clean energy technology invented, and developed by Tadahiko Mizuno, PhD. The company is based out of Sapporo, Japan.</p>
        <p class="mb-5">Once fully developed, this technology will be transformative; giving energy poor societies access to unlimited, clean, and inexpensive energy that will greatly improve their standard of living. The more developed nations will have available the technology to mitigate, or eliminate their CO2 emissions, while delivering green, lower cost energy to their consumer markets.</p>
        <p class="mb-0">Tadahiko Mizuno's results have been replicated independently, with more replications presently underway by major multi-national corporations. MTI leads the field in sustainability of the reaction, safety, and excess heat production. We are excited to be moving past the lab research phase, and into the commercial testing phase.</p>
      </div>
    </div>
  </div>
</section>

<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{{ "/assets/img/bg-showcase-1.jpg" | prepend: site.baseurl }}');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Intellectual Property</h2>
        <p class="lead mb-0">We are working with leading global Intellectual Property firms to protect the technology Tadahiko Mizuno invented.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('{{ "/assets/img/bg-showcase-2.jpg" | prepend: site.baseurl }}');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>100 kW Version</h2>
        <p class="lead mb-0">With just simple engineering and using semiconductor mass production technology the output can be scaled up to large quantities of excess heat, making the technology interesting for wide range of applications.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{{ "/assets/img/bg-showcase-3.jpg" | prepend: site.baseurl }}');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Temperature / Power Relationship</h2>
        <p class="lead mb-0">Output power is exponentially related to operating temperature. Even rudimentary small devices can output 10-15kW of thermal energy which can be converted to steam or to spin super-critical CO2 turbines for producing combined heat and power (CHP) for homes and factories.</p>
      </div>
    </div>
  </div>
</section>

<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">Who we are</h2>
    <div class="row">
      <div class="col-lg-6">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="{{ "/assets/img/tadahaki-mizuno.jpg" | prepend: site.baseurl }}" alt="">
          <h5>Tadahiko Mizuno / 水野忠彦, PhD</h5>
          <p class="font-weight-light mb-0">Physicist, inventor and lead engineer of the technology of Mizuno Technology Inc.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="{{ "/assets/img/avatar-376-456328.webp" | prepend: site.baseurl }}" alt="">
          <h5>Nakamura Kohei / 中村浩平</h5>
          <p class="font-weight-light mb-0"></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Interested in becoming an investor and help Mizuno Technology Inc. to enter the market?</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <a href="{{ '/contact' | absolute_url }}" class="btn btn-block btn-lg btn-success">Contact us!</a>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="lead mb-2">We recently discovered fraudulent parties copying material from this website to impersonate Mizuno Technology Inc..</p>
        <p class="mb-0">If you notice such fraudulent activity, please contact <a href="mailto:info@mizunotech.com">info@mizunotech.com</a> immediately.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Understood!</button>
      </div>
    </div>
  </div>
</div>
