---
layout: page
categories: [header-link]
title: Publications
permalink: /publications
---
<section class="showcase text-center">
  <div class="container-fluid p-0">
    <h2 class="mb-5">Scientific Publications</h2>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{{ "/assets/img/papers/replication-report-by-centre-for-energy-research-bangalore-india-graph.jpg" | prepend: site.baseurl }}');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Replication by the Centre for Energy Research, Bangalore, India</h2>
        <p class="lead mb-3">"For an input power of more than 100 W the experiment with active materials showed more o/p energy when compared to the calibration run. For an i/p power up to 50 and in some experiments up to 100 W the system generated excess power of ~ 50%."</p>
        <div class="d-flex justify-content-center">
          <a class="btn btn-outline-success" href="{{ '/assets/papers/replication/replication-report-by-centre-for-energy-research-bangalore-india.pdf' | absolute_url }}">Download PDF</a>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('{{ "/assets/img/bg-showcase-2.jpg" | prepend: site.baseurl }}');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Japanese Replication</h2>
        <p class="lead mb-3">A japanese replication paper.</p>
        <div class="d-flex justify-content-center">
          <a class="btn btn-outline-success" href="{{ '/assets/papers/replication/heade7a4bee381aee5868de78fbee8a9a6e9a893.pdf' | absolute_url }}">Download PDF</a>
        </div>
      </div>
    </div>
  </div>
</section>
