<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="{{ '/'' | absolute_url }}">Home</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="{{ '/contact'' | absolute_url }}">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="https://lenr-forum.com">LENR Forum</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; Mizuno Technology Inc. 2020. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <!--ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-twitter-square fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul-->
      </div>
    </div>
  </div>
</footer>

<script src="{{ "/assets/vendor/jquery/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" | prepend: site.baseurl }}"></script>
<script>
  $(document).ready(function(){
      $("#exampleModal").modal('show');
  });
</script>
