<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="">
  <title>{% if page.title %}{{ page.title | escape }} | {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <!-- Bootstrap core CSS -->
  <link href="{{ "/assets/vendor/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="{{ "/assets/vendor/fontawesome-free/css/all.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ "/assets/vendor/simple-line-icons/css/simple-line-icons.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template -->
  <link href="{{ "/assets/css/landing-page.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ "/assets/img/favicon.png" | prepend: site.baseurl }}">
</head>
