<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="{{ '/'' | absolute_url }}"><img height="40" width="61" src="{{ "/assets/img/mti_logo_transparent.gif" | prepend: site.baseurl }}" alt="">&nbsp;&nbsp;Mizuno Technology Inc.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav mr-auto">
        <li class="nav-item{% if '/' == page.url %} active{% endif %}">
          <a class="nav-link" href="{{ '/'' | absolute_url }}">Home</a>
        </li>
        <li class="nav-item{% if '/publications' == page.url %} active{% endif %}">
          <a class="nav-link" href="{{ '/publications'' | absolute_url }}">Publications</a>
        </li>
      </ul>
      <a class="btn btn-outline-success mb-3 mb-md-0 ml-md-3" href="{{ '/contact'' | absolute_url }}">Contact</a>
		</div>
	</div>
</nav>
